@import "../../../../styles/typography";
@import "../../../../styles/colors";

.login-page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: url("/svg/background.svg");
}
