$black: #000000;
$white: #ffffff;
$background: #1a1c27;
$onBackground: #b5e0ce;
$primary: #57c877;
$onPrimary: #1a1c27;
$surface: #142929;
$neutral: #002091;
$error: #f80000;
$success: #00915d;
$edit: #5770c8;
$yellow: #edff05;
$violet: #862297;
$orange: #fd8167;
$blueDeep: #030c0d;
