/* You can add global styles to this file, and also import other style files */
@import "./colors";
@import "./typography";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $background;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $background;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $onBackground;
    border-radius: 30px;
  }
}
